TELEGRAM_BOT_TOKEN=your_bot_token_here
GRAFANA_URL=YOUR_GRAFANA_URL
GRAFANA_API_KEY=your_grafana_api_key_here
GRAFANA_DASHBOARD_UID=your_dashboard_uid
INFLUXDB_URL=YOUR_INFLUXDB_URL
INFLUXDB_TOKEN=your_influx_token
INFLUXDB_ORG=my-org
INFLUXDB_BUCKET=home_energy
MQTT_BROKER_IP=YOUR_MQTT_IP
MQTT_PORT=YOUR_MQTT_PORT